#{extends 'main.html' /}
#{set title:'Home' /}

<div id=surrounding>
	<div id="top">
	<img src="@{'/public/images/TSlogo.png'}" />
	</div>
	
	#{if winner == null}
		<div id="buyerTag">
		#{form @Application.setCurrentBuyer()}
		<label for="buyer">Dagens pakke er kjøpt av: </label>
		<select name="buyer" id="buyer" onchange="form.submit();">
				<option id="-1" >Velg...</option>
		    	#{list items:buyers, as:'participant'}
		    		#{if currentBuyerID == participant.getPartId()}
		    			<option value="${participant.getPartId()}" selected="selected">${participant.getFirstName()}</option>
		    		#{/if}
		    		#{else}
		    			<option value="${participant.getPartId()}">${participant.getFirstName()}</option>
		    		#{/else}
		    		<div id="buyerTag">
		    	#{/list}
		</select>
		#{/form}
		
		</div>
		#{if flash.error }
    			<div class="error">
    				${flash.error} 
    			</div>
    		#{/if}
		#{form @Application.draw()}
			<div id="partTag">
				#{list items:eligebleWinners, as:'ew'}
					<input type="checkbox" value="${ew.id}" name="eligebleWinners">
						${ew.getFirstName()}
					</input>
					<br />
				#{/list}
			</div>
			<div id="buttonTag">    	
				#{ifErrors}
	    		<span class="error">Velg minst en deltaker</span>
	    		#{/ifErrors}
				<input id="button" type="submit" value="Trekk dagens vinner" accesskey="J"/>
			</div>
		#{/form}
	#{/if}
	#{else}
		#{form @Application.index()}
		<div id="buttonTag">    	
	    	<input id="button" type="submit" value="Ny trekning" accesskey="J"/>
		</div>	
		#{/form}
		<div id="winner">
		Dagens heldige vinner er: <strong>${winner.getFirstName()}</strong>
		</div>
	#{/else}
	
	
	<div id="calendarDiv">
		<table cellpadding="0">
			<tr>
				#{list items:winners, as:'win'}
					#{if win_index < today && win == ""}
						<td class="inactive">${win_index}&nbsp;${win}<td>
					#{/if}
					#{else}
						<td class="calendar">${win_index}&nbsp;${win}<td>
					#{/else}
					
					#{if win_index % 6 == 0 }</tr><tr>#{/if}
				#{/list}
			</tr>
		</table>
	</div>	
</div>
<div id="buttom">
Powered by: <img src="@{'/public/images/1178392087.png'}" height="32" width="90"/>
</div>



